
.header-container {
    display: flex;
    height: 50px;
    background-color: var(--color-medium);
    padding: var(--spacing-small);
}

.header-counter {
    font-weight: bold;
    padding-right: var(--spacing-small);
    margin-left: auto;
    cursor: pointer;
}